<!DOCTYPE html>
<html>
<head>
	<title>Tell us about another job</title>
</head>
<body>

	<form method="post" action="">
  <div class="form-group">
    <label for="school">Job Title</label>
    <input type="text" class="form-control" id="school" name="job_title">
  </div>

  <div class="form-group">
    <label for="loc">Employer</label>
    <input type="text" class="form-control" id="loc" name="employer">
  </div>

  <div class="form-group">
    <label for="degree">City</label>
    <input type="text" class="form-control" id="degree" name="city">
  </div>

  <div class="form-group">
    <label for="cgpa">state</label>
    <input type="text" class="form-control" id="cgpa" name="state">
  </div>

  <div class="form-group">
    <label for="study">startdate</label>
    <input type="date" class="form-control" id="study" name="startdate">
  </div>

  <div class="form-group">
    <label for="Grad">Enddate</label>
    <input type="date" class="form-control" id="Grad" name="enddate">
  </div>

<div class="form-group">
    <label for="Grad1">job desc </label>
    <input type="text" class="form-control" id="Grad1" name="jobdesc">
  </div>

  <input type="radio" name="radio">I currently work here

  
  <button type="submit" class="btn btn-primary" formaction="job/">Next</button>

  <button type="submit" class="btn btn-primary" formaction="add/">Add one more</button>
</form>

</body>
</html>