<!DOCTYPE html>
<html>
<head>
	<title>extra field</title>
</head>
<body>

<form method="post">
  {{form.media}}
	{{form.as_p}}

 <!--  <div class="form-group">
    <label for="second">fieldname</label>
    <input type="text" class="form-control" id="second" name="field_name">
  </div> 

  <div class="form-group">
    <label for="city">Tellus about what you have in this feild</label>


    <textarea name="explanation"></textarea>
  </div>
-->
 
 <button type="submit" class="btn btn-primary" formaction="fieldadd/">Next</button>
 <button type="submit" class="btn btn-primary" formaction="addonemorefield/">Add one more in this field</button>

</form>
</body>
</html>