<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <form  method='post'>
        {% csrf_token%}
        
            First Name
            <input type="text" name='first_name'><br>
            Last Name
            <input type="text" name='last_name'><br>
            User Name
            <input type="text" name='username'><br>
            
            Email ID
            <input type="text" name='email'><br>
            Enter Password
            <input type="password" name='password'><br>
            Confirm Password
            <input type="password" name='password2'><br>
            <input type="submit" >
        {% for x in messages%}
        {{x}}
        {% endfor %}
    </form>
    
</body>
</html>