<!DOCTYPE html>
<html>
<head>
	<title>Education Details</title>
</head>
<body>

	<form  method="post">
  <div class="form-group" >
    <label for="school">School Name</label>
    <input type="text" class="form-control" id="school" name="school_name">
  </div>

  <div class="form-group">
    <label for="loc">School Location</label>
    <input type="text" class="form-control" id="loc" name="school_location">
  </div>

  <div class="form-group">
    <label for="degree">Degree</label>
    <input type="text" class="form-control" id="degree" name="Degree">
  </div>

  <div class="form-group">
    <label for="cgpa">CGPA</label>
    <input type="text" class="form-control" id="cgpa" name="CGPA">
  </div>

  <div class="form-group">
    <label for="study">Field of Study</label>
    <input type="text" class="form-control" id="study" name="Field_of_Study">
  </div>

  <div class="form-group">
    <label for="Grad">Expected year of grad</label>
    <input type="text" class="form-control" id="Grad" name="Expected_year_of_grad">
  </div>
  
  <button type="submit" class="btn btn-primary" value="next/" formaction="next/">Next</button>


  <button type="submit" class="btn btn-primary" value="add/" formaction="add/">Add one more</button>

</form>

<form method="" action="">
  <button type="submit" class="btn btn-primary">Back</button>
</form>

</body>
</html>