<!DOCTYPE html>
<html>
<head>
  <title>
    Resume Heading
  </title>

</head>
<body>


<form action="login/" method="post">

  <div class="form-group">
    <label for="second">FullName</label>
    <input type="text" class="form-control" id="second" name="full">
  </div>

  <div class="form-group">
    <label for="city">City</label>
    <input type="text" class="form-control" id="city" name="city">
  </div>

  <div class="form-group">
    <label for="position">POSITION</label>
    <input type="text" class="form-control" id="city" name="position">
  </div>

  <div class="form-group">
    <label for="state">State</label>
    <input type="text" class="form-control" id="state" name="state">
  </div>

  <div class="form-group">
    <label for="phone">Phone</label>
    <input type="text" class="form-control" id="phone" name="phone">
  </div>

  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" class="form-control" id="email" name="email">
  </div> 

  <div class="form-group">
    <label for="zipcode">Zipcode</label>
    <input type="text" class="form-control" id="zipcode" name="zipcode">
  </div>
  
  <div class="form-group">
    <label for="zipcode1">Personal_profile</label>
    <input type="text" class="form-control" id="zipcode1" name="person">
  </div>

  <button type="submit" class="btn btn-primary">Next</button>
</form>
</body>

</html>